<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <!-- 
        In the anchor tag, we toggle between the active class. The toggling between the active class
        works perfectly fine. The appToggleActiveClass directive is responsible for selecting particular 
        anchor tags. It is also responsible for deleting directives. Keep in mind the blue highlight is
        from the "active" class that we add dynamically. 
      -->
      <a
        class="list-group-item"
        appToggleActiveClass
        style="cursor: pointer"
        (click) = "onSelectItem(i)"
        *ngFor="let ingredient of ingredients; let i = index">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
